{% extends '../base.html' %}
{% load static %}
{% load widget_tweaks %}

{% load crispy_forms_tags %}    

{% block title %}Agregar Mecanico{% endblock %}

{% block content %}
    <section class="agregar-mecanico">

        <div class="container mb-3 mt-5 pt-4 flex-column align-items-center justify-content-center">
            <div>
                <h1 class="mt-5 text-center fw-bold">Agregar Mecanicos</h1>
            </div>
            
            <div>
                <a href="{% url 'mecanico_list' %}" class="btn btn-secondary fw-bold">Volver</a>
            </div>

            {% if mensaje %}
            <div class="alert alert-success alert-dismissible fade show text-center mt-2 " role="alert">
                <strong>{{ mensaje }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
        </div>

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="card col-md-6" style="background-color: var(--gris);">
                    <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                        {% csrf_token %}

                        <div class="form-group texto-color fs-5 p-3">

                                {{form.nombre|as_crispy_field}}
                                {{form.apellido|as_crispy_field}}
                                {{form.telefono|as_crispy_field}}
                                {{form.correo|as_crispy_field}}
                                {{form.sucursal|as_crispy_field}}
                                {{form.especialidad|as_crispy_field}}
                                {{form.experiencia|as_crispy_field}}
                                {{form.descripcion|as_crispy_field}}
                                {{form.imagen|as_crispy_field}}

                            {% if form.instance.imagen %}
                                <div  class="row justify-content-center mb-3">
                                    <img class="rounded w-75" id="imagenPreview" src="{{ form.instance.imagen.url }}" alt="Imagen del mecanico">
                                </div>
                            {% endif %}
                            
                        </div>
                        
                        <div class="d-grid gap-2 col-2 mx-auto">
                            <button type="submit" class="btn btn-primary fw-bold mb-3">Guardar</button>
                        </div>
                            
                    </form>
                </div>
            </div>
        </div>

        <br>
        
        
        
    </section>

    <script src="{% static 'js/validacion-form.js' %}"></script>
    {% endblock %}
</html>