{% extends '../base.html' %}
{% load static %}
{% load widget_tweaks %}

{% load crispy_forms_tags %}    

{% block title %}Agregar Mecanico{% endblock %}

{% block content %}
    <section style="height: 100%; margin-top: 5rem; background-color: var(--blanco);">

        <div class="container mb-3 mt-5 pt-4 flex-column align-items-center justify-content-center">
            <div>
                <h1 class="mt-5 text-center fw-bold" style="color: var(--gris);">Agregar Mecanicos</h1>
            </div>
            
            <div>
                <a href="{% url 'mecanico_list' %}" class="btn btn-secondary fw-bold">Volver</a>
            </div>

            {% if mensaje %}
            <div class="alert alert-success alert-dismissible fade show text-center mt-2 " role="alert">
                <strong>{{ mensaje }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
        </div>

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="card col-md-6" style="background-color: var(--gris);">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% for field in form %}
                            <div class="form-group text-white p-3">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% if field.errors %}
                                    {{ field|add_class:"form-control is-invalid" }}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">{{ error }}</div>
                                    {% endfor %}
                                {% else %}
                                    {{ field|add_class:"form-control" }}
                                {% endif %}
                            </div>
                        {% endfor %}

                        {% if form.instance.imagen %}
                            <div  class="row justify-content-center mb-3">
                                <img class="rounded w-75" id="imagenPreview" src="{{ form.instance.imagen.url }}" alt="Imagen del mecanico">
                            </div>
                        {% endif %}

                        <div class="text-end mx-3">
                            <button type="submit" class="btn btn-primary fw-bold mb-3">Guardar</button>
                    </form>
                </div>
            </div>
        </div>

        <br>
        
        
        
    </section>
    {% endblock %}
</html>