{% extends '../base.html' %}
{% load static %}


{% block title %}Mecanico_List{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/mecanico.css' %}">

    <h1>Mecanico List</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for mecanico in mecanicos %}
                    <tr>
                        <td>{{ mecanico.nombre }}</td>
                        <td>{{ mecanico.apellido }}</td>
                        <td>{{ mecanico.telefono }}</td>
                        <td>{{ mecanico.correo }}</td>
                        <td>
                            <a  class="btn btn-info">Ver</a>
                            <a  class="btn btn-warning">Editar</a>
                            <a  class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

    {% endblock %}
</html>