{% extends '../base.html' %}
{% load static %}


{% block title %}Agregar Mecanico{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/mecanico.css' %}">
    <section>

        <div class="container mb-3 mt-5 mx-0 pt-4">
            <div class="col-md-12">
                <h1 class="mt-5 text-center fw-bold" style="color: var(--gris);">Agregar Mecanicos</h1>
            </div>
            <div class="col-md-4">
                <a href="{% url 'mecanico_list' %}" class="btn btn-secondary fw-bold">Volver</a>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="{% url 'mecanico_create' %}" method="post" class="p-4">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary fw-bold">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <br>

        <div>
            
        </div>
        
    </section>
    {% endblock %}
</html>