{% extends '../base.html' %}
{% load static %}


{% block title %}Mecanico_List{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/mecanico.css' %}">
    <section>

        <div class="container mb-3 mt-5 mx-0 pt-4">
            <div class="col-md-12">
                <h1 class="mt-5 text-center fw-bold" style="color: var(--gris);">Lista Mecanicos</h1>
            </div>
            <div class="col-md-4">
                <a href="{% url 'mecanico_add' %}" class="btn btn-primary fw-bold text-white">Agregar Mecanico</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mecanico in mecanicos %}
                        <tr>
                            <th scope="row">{{ mecanico.id_mecanico }}</th>
                            <td>{{ mecanico }}</td>
                            <td>{{ mecanico.telefono }}</td>
                            <td>{{ mecanico.direccion }}</td>
                            <td>{{ mecanico.correo }}</td>
                            <td>
                                <a  class="btn btn-info">Ver</a>
                                <a  class="btn btn-warning">Editar</a>
                                <a  class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% endblock %}
</html>