{% extends 'base/base.html' %}
{% load static %}


{% block title %}Nosotros{% endblock %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/nosotros.css' %}">

        <div style="background-color: var(--rojo); height: 7rem;"></div>
        <!--esta pagina nose porque si le pongo esto, funciona background color-->

    <!--Nosotros-->
    <section id="nosotros">
        <div class="container-fluid">
            <div class="row">
                <h1 class="text-center contenedor-titulo-fondo p-5">¿Quienes somos?</h1>
                <div class="col-lg-6 d-flex justify-content-center flex-column">
                    <img class="w-100 img-fluid m-0 mb-3 rounded-5 h-100" src="{% static 'img/fondo-principal.avif' %}"
                        alt="imagen-nosotros">
                </div>
                <div class="col-lg-6">
                    <p class="fw-bold">Desde nuestras raíces en las carreras hasta nuestros talleres accesibles para
                        todos, en CMQween celebramos nuestra trayectoria única. Como una familia apasionada por los
                        motores y las películas, cada reparación es una oportunidad para fusionar habilidad técnica con
                        amor por los autos. Nuestro compromiso va más allá de la eficiencia; se trata de mantener viva
                        la pasión por los vehículos, al igual que en Radiador Springs.
                    </p>
                    <p class="fw-bold">Imagina el día en que nuestro fundador, un entusiasta de las carreras, decidió
                        abrir un taller con un toque diferente. Inspirado por las historias de Radiador Springs,
                        convirtió su pasión en una misión para ofrecer un servicio excepcional, donde la técnica y el
                        amor por los autos se funden en cada reparación. Así nació CMQween, una mezcla única de
                        velocidad y cariño por los motores.
                    </p>
                    <p class="fw-bold">Nuestros clientes no solo confían en nuestra habilidad técnica, sino también en
                        nuestra capacidad para entender la conexión emocional que tienen con sus vehículos. Al igual que
                        el vínculo entre Relámpago McQueen y Mate en Cars, nosotros valoramos esa relación especial y
                        nos esforzamos por mantenerla en cada interacción. En CMQween, tu auto no es solo una máquina;
                        es parte de tu historia, y nos comprometemos a cuidarlo como tal.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="mas-nosotros" class="p-5 color-seccion">
        <h1 class="pb-5">¿Que ofrecemos a diferencia de la competencia?</h1>
        <div class="mas-nosotros-contenedor container p-1">
            <div class="contenedor-icono">
                <img class="icono" src="{% static 'img/icono1.svg' %}" alt="Icono seguridad">
                <h1>Seguridad</h1>
                <p class="fw-bold">En CMQween, la seguridad de tu vehículo y tu bienestar son nuestra principal
                    preocupación. Nos destacamos por nuestro enfoque meticuloso en cada reparación, realizando
                    inspecciones exhaustivas y utilizando únicamente piezas certificadas para garantizar que tu
                    automóvil esté en condiciones óptimas para enfrentar cualquier desafío en la carretera. Desde la
                    revisión de frenos hasta la inspección de sistemas de seguridad, cada paso que damos está diseñado
                    para brindarte la tranquilidad y confianza que necesitas al volante.</p>
            </div>
            <div class="contenedor-icono">
                <img class="icono" src="{% static 'img/icono2.svg' %}" alt="Icono precio">
                <h1>Precio</h1>
                <p class="fw-bold">Además de nuestra dedicación a la seguridad, en CMQween nos enorgullecemos de ofrecer
                    servicios de alta calidad a precios justos y transparentes. Creemos firmemente que mantener tu
                    vehículo en condiciones óptimas no debería ser un lujo inalcanzable, por lo que nos esforzamos por
                    mantener tarifas competitivas sin sacrificar la calidad de nuestro trabajo. Con nosotros, puedes
                    estar seguro de que no habrá sorpresas desagradables en tu factura final; solo recibirás un servicio
                    confiable y asequible que se adapte a tus necesidades y presupuesto.</p>
            </div>
            <div class="contenedor-icono">
                <img class="icono" src="{% static 'img/icono3.svg' %}" alt="Icono Tiempo">
                <h1>Tiempo</h1>
                <p class="fw-bold">Y cuando se trata de tu tiempo, entendemos lo valioso que es. Es por eso que en
                    CMQween nos comprometemos a ofrecer un servicio rápido y eficiente sin comprometer la excelencia.
                    Con técnicos altamente capacitados y un enfoque centrado en la eficiencia, trabajamos diligentemente
                    para minimizar el tiempo de inactividad de tu vehículo y devolvértelo en óptimas condiciones en el
                    menor tiempo posible. En un mundo donde cada minuto cuenta, en CMQween te ofrecemos la rapidez que
                    necesitas sin comprometer la calidad.</p>
            </div>
        </div>
    </section>

    {% endblock %}
</html>