{% extends '../base.html' %}
{% load static %}


{% block title %}Nosotros{% endblock %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/nosotros.css' %}">

    <div style="background-color: var(--rojo); height: 7rem;"></div>
    <!--esta pagina nose porque si le pongo esto, funciona background color-->


    <div id="carouselExampleIndicators" class="carousel slide carousel-custom" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="{% static 'img/Carusel-1.jpg' %}" class="d-block w-100" alt="foto-carousel-1">
            </div>
            <div class="carousel-item">
            <img src="{% static 'img/Carusel-2.jpg' %}" class="d-block w-100" alt="foto-carousel-2">
            </div>
            <div class="carousel-item">
            <img src="{% static 'img/Carusel-3.jpg' %}" class="d-block w-100" alt="foto-carousel-3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    

    <!--Nosotros-->
    <section id="nosotros">
        <div class="container-fluid">
            <div class="row">


                

                <h1 class="text-center contenedor-titulo-fondo p-5">¿Quienes somos?</h1>

                
                <div class="pt-3">
                    <p class="fw-bold">Desde nuestras raíces en las carreras hasta nuestros talleres accesibles para
                        todos, en CMQween celebramos nuestra trayectoria única. Como una familia apasionada por los
                        motores y las películas, cada reparación es una oportunidad para fusionar habilidad técnica con
                        amor por los autos. Nuestro compromiso va más allá de la eficiencia; se trata de mantener viva
                        la pasión por los vehículos, al igual que en Radiador Springs.
                    </p>
                    <p class="fw-bold">Imagina el día en que nuestro fundador, un entusiasta de las carreras, decidió
                        abrir un taller con un toque diferente. Inspirado por las historias de Radiador Springs,
                        convirtió su pasión en una misión para ofrecer un servicio excepcional, donde la técnica y el
                        amor por los autos se funden en cada reparación. Así nació CMQween, una mezcla única de
                        velocidad y cariño por los motores.
                    </p>
                    
                </div>
            </div>
        </div>
    </section>


    <section id="mas-nosotros" class="p-5 color-seccion">
        <h1 class="pb-5">¿Que ofrecemos a diferencia de la competencia?</h1>
        <div class="mas-nosotros-contenedor container p-1">
            <div class="contenedor-icono">
                <img class="icono" src="{% static 'img/icono1.svg' %}" alt="Icono seguridad">
                <h1>Seguridad</h1>
                <p class="fw-bold">En CMQween, la seguridad de tu vehículo y tu bienestar son nuestra principal
                    preocupación. Nos destacamos por nuestro enfoque meticuloso en cada reparación, realizando
                    inspecciones exhaustivas y utilizando únicamente piezas certificadas para garantizar que tu
                    automóvil esté en condiciones óptimas.</p>
            </div>
            <div class="contenedor-icono">
                <img class="icono" src="{% static 'img/icono2.svg' %}" alt="Icono precio">
                <h1>Precio</h1>
                <p class="fw-bold">Además de nuestra dedicación a la seguridad, en CMQween nos enorgullecemos de ofrecer
                    servicios de alta calidad a precios justos y transparentes. Creemos firmemente que mantener tu
                    vehículo en condiciones óptimas no debería ser un lujo inalcanzable.</p>
            </div>
            <div class="contenedor-icono">
                <img class="icono" src="{% static 'img/icono3.svg' %}" alt="Icono Tiempo">
                <h1>Tiempo</h1>
                <p class="fw-bold">Y cuando se trata de tu tiempo, entendemos lo valioso que es. Es por eso que en
                    CMQween nos comprometemos a ofrecer un servicio rápido y eficiente sin comprometer la excelencia.
                    Con técnicos altamente capacitados y un enfoque centrado en la eficiencia.</p>
            </div>
        </div>
    </section>

    {% endblock %}
</html>