{% extends '../base.html' %}
{% load static %}
{% load humanize %}
{% load my_filters %}

{% block title %}Servicios{% endblock %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/servicios.css' %}">
    

    <section id="vista-servicios">

        <h1>Cotiza un Servicio</h1>

        <img src="{% static 'img/logo-servicios.png' %}" class="ajuste-foto-servicios" alt="logo-servicios">

        <h3>Tienes que estar registrado para agendar una hora</h3>

        <div class="fw-bolder fs-5 text-center">
            <a href="{% url 'registro' %}">Registrame</a>
          </div>
        
        <div class="container py-4">
            <div class="row">
                {% for servicio in servicios %}
                    <div class="col-md-4 mb-4">
                        <div class="card color-carta">

                            {% if servicio.imagen %}
                                <img class="rounded-2 card-img-top" src="{{ servicio.imagen.url }}" alt="Imagen del servicio">
                            {% else %}
                                <p>Sin Imagen</p>
                            {% endif %}</td>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item color-carta-chica text-white">{{servicio}}</li>
                                    <li class="list-group-item color-carta-chica text-white">$ {{ servicio.precio|comma_to_dot }}</li>
                                </ul>

                                <span class="d-inline-block" tabindex="0" 
                                    {% if not esta_autentificado %}
                                    data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover focus" data-bs-content="Tienes que registrarte primero"
                                    {% endif %}>

                                    {% if esta_autentificado %}
                                        
                                    {% else %}
                                        <a class="btn btn-primary fs-6 disabled" 
                                        style="background-color: var(--piel);border-color: var(--negro); color: var(--negro); border: 2px solid;">
                                            Ver Detalles
                                        </a>
                                    {% endif %}
                                </span>
                                
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
            
    </section>

    <!-- popover ver detalles sin estar registrado-->
    <script>
        $(document).ready(function(){
            $('[data-bs-toggle="popover"]').each(function () {
              var $elem = $(this);
              $elem.popover();
            });
          });
    </script>

<script>
    function agregarAlCarrito(servicioId) {
        var patenteInput = document.getElementById('patenteInput');
        var patente = patenteInput ? patenteInput.value : null;

        // si patente no tiene nada, ingresa aca
        if (!patente) {
            patente = prompt("Por favor, ingresa la patente del vehículo:");
            if (!patente) {
                alert("Es necesario ingresar una patente para contratar el servicio.");
                return; // Sale de la función si no se proporciona una patente
            }
        }

        // Procede con la solicitud AJAX como antes
        $.ajax({
            type: 'POST',
            url: '/agregar_al_carrito/',
            data: {
                'servicio_id': servicioId,
                'patente': patente,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if(response.success) {
                    alert(response.mensaje);
                } else {
                    alert('Hubo un error al agregar el servicio al carrito.');
                }
            }
        });
    }
</script>
    {% endblock %}
</html>