:root {
    --rojo: #4f101a;
    --gris: #333333;
    --piel: #dfd4cd;
    --amarillo: #f4c01e;
    --purpura: #
}

* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}

body {
    margin: 0;
    background-color: var(--rojo);
}



ul {
    list-style: none;
}