:root {
    --rojo: #4f101a !important;
    --gris: #333333 !important;
    --piel: #dfd4cd !important;
    --amarillo: #f4c01e !important;
    --purpura: #612CEE !important;
    --verde: #5FD315 !important;
    --celeste: #26CAC0 !important;
    --naranja: #FF7F50 !important;
    --azul: #1E90FF !important;
    --rosa: #FF1493 !important;
    --blanco: #FFFFFF !important;
}
html {
    font-size: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}


body {
    margin: 0;
    background-color: var(--rojo);
}



ul {
    list-style: none;
}





/* Mapa */

.contenedor-maps{
    display: flex;
    justify-content: space-evenly;
}

#map-container {
    
    width: 35%; 
    height: 270px; 
    overflow: hidden;
    text-align: center; 
}

#map,#map2{
    height: 100%;
    width: 100%;
    position: static;
}