/* Globales para los tags*/
section {
    background-color: var(--gris);
    padding-top: 10rem;
    text-align: center;
    color: var(--piel);
}

h1 {
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 2rem;
}

h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}


/* imagen */
.imagen-nosotros {
    width: 500px;
    height: 400px;
    object-fit: cover;
}

/* Contenedores */
/*       Y      */
/* media query */

@media (min-width: 768px){

    .contenedor-nosotros{
        display: grid;
        padding: 0 2rem 0 2rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .mas-nosotros-contenedor {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

}

.nosotros {
    padding-bottom: 5rem;
}

.mas-nosotros {
    padding: 0 0 5rem 0;
}

/* Icono */
.icono {
    width: 100px;
    height: 100px;    
}


