/* PAGINA SERVICIOS */

#vista-servicios {
    padding-top: 15rem;
    background-color: var(--piel);
}

#vista-servicios .contenido-servicio {
    padding: 3rem;
    margin-bottom: 3rem;
}

#vista-servicios .texto-servicio {
    padding: 3rem;
    margin-bottom: 3rem;
}


#vista-servicios h1 {
    color: #000;
}

.boton-servicios {
    display: flex;
    justify-content: center;
}

.img-carrito {
    max-width: 5rem;
    margin-right: 2rem;
}


.boton-servicios .btn-custom:hover {
    background-color: var(--gris) !important;
}

#vista-servicios .contenedor-imagen {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {

    .contenido-servicio {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
  
}