:root {
    --rojo: #4f101a;
    --gris: #333333;
    --piel: #dfd4cd;
    --amarillo: #f4c01e;
    --purpura: #
}

* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

ul {
    list-style: none;
}

/* CLASES DEL LOGIN */


.main-login {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    background: rgb(51,51,51);
    background: linear-gradient(150deg, rgba(51,51,51,1) 39%, rgba(71,26,33,1) 65%); 
}
  
.contenedor-login {
    width: 500px;
    height: 600px; 
    background-color: var(--piel); 
    border: 1px solid var(--gris); 
    padding: 20px;
    
}


  
/* Fondo transparente */

.pagina-principal-container {
    background-image: url('https://cdn-9.motorsport.com/images/amp/YBeqxXM2/s6/sebastian-vettel-ferrari-sf100.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
    position: relative;
}

.pagina-principal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.pagina-principal-content {
    color: black;
    font-size: 16px;
    margin-top: 10%;
    margin-left: 10%;
    position: absolute;
}

/* Margen de los logos, con los width pueden mover el tamaño */

.ajuste-foto-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
    margin-bottom: 280px;
}

.ajuste-foto-texto{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 530px;

}
.ajuste-foto-letra{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 580px;
    margin-top: 252px;

}


.pagina-principal-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* boton diseño para redirigir a la pagina workers.html */

.boton-trabajador {
    padding: 10px 30px;
    border-radius: 15px;
    border: 2px solid var(--amarillo);
    background-color: #616161;
    transition: background-color 0.5s ease;
}

.boton-trabajador:hover {
    background-color: #4f101a;
}


/* de aqui para abajo todo es para cambiar la navbar, hay que rehacerla ya que no es una navbar de bootstrap */
.container {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: #4f101a;

}

header .logo {
    margin: 0px;
    padding: 13px;
    font-weight: bolder;
    color: #dfd4cd;
    font-size: 1.7em;

}

header nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

header nav a {
    margin-left: 40px;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    header nav {
        flex-direction: column;
    }

    header nav a {
        margin: 10px 0;
        text-align: center;
    }
}

header .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 110px;
    margin-left: 30px;
}

header .logo-container img {
    max-width: 150px;
    height: auto;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: -59px;
}


nav ul{
    list-style: none;
    display: flex;

}

nav{
    display: flex;
    justify-content: flex-start;
}

nav ul li{
    display: inline-block;
    margin: 0 6px;
}

nav ul li a{
    color:#dfd4cd;
    text-decoration: none;
    margin: 0px 5px;
    text-transform: uppercase;
    
}


/* margenes de todas las sections */

#hero-nosotros{
    height: 100vh;
    background-color: #dfd4cd;

}

#hero-nosotros .container{
    padding-top: 30vh;
}

#trabajadores{
    background-color: #333333;
    color: #dfd4cd;
    text-align: center;
}

#trabajadores h2{
    margin-top: 0;
}

#trabajadores .container{
    padding: 100px 0px;
    padding-top: 30vh;
}


#services{
    height: 100vh;
    background-color: #f4c01e;
}

#services .container{
    padding-top: 10vh;

}

#contact-us {
    background-color: #dfd4cd;
}
























