:root {
    --rojo: #4f101a !important;
    --gris: #474646 !important;
    --piel: #dfd4cd !important;
    --amarillo: #f4c01e !important;
    --purpura: #612CEE !important;
    --verde: #5FD315 !important;
    --celeste: #26CAC0 !important;
    --naranja: #FF7F50 !important;
    --azul: #1E90FF !important;
    --rosa: #FF1493 !important;
    --blanco: #FFFFFF !important;
    --negro: #322D2D !important;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}

.text-white {
    color: #fff;
}

body {
    margin: 0;
    background-color: var(--rojo);
}

ul {
    list-style: none;
}

/* Mapa */

.contenedor-maps{
    display: flex;
    justify-content: space-evenly;
}

#map-container {
    width: 35%; 
    height: 270px; 
    overflow: hidden;
    text-align: center; 
}

#map,#map2{
    height: 100%;
    width: 100%;
    position: static;
}

/* NAVBAR */

/* imagen del icono menu de la navbar*/
#navbar-toggler img {
    width: 30px; 
    height: 30px; 
}

.bg-body-tertiary {
    background-color: #4f101a !important;
}

.navbar-nav .nav-link {
    font-size: 19px;
    color: #dfd4cd;
}


/* NO ELIMINAR, GRACIAS A ESTO, LA NAVBAR SE MUEVE */
#navbar {
    top: 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    transition: 1s;
}

/* controla el tamaño de la imagen del logo, recuerden que el logo es una mezcla de dos imagenes */
header .logo-container img {
    max-width: 100px;
    margin-right: -20px; /* permite apegar las imagenes */
}

header .container-fluid{
    justify-content: center !important;
}

/*para centrar el logo en dispositivos moviles*/
@media screen and (max-width: 985px) {

    .navbar-nav {
        display: block;
        justify-content: center;
    }
}


/*Media para cambiar el modal en pantalla Telefono*/
@media (min-width: 768px) {
    .modal-xl {
        max-width: 90%; /
    }
    .calendly-inline-widget {
        height: 1000px !important;  
    }
}
/*Media para cambiar el modal en pantalla pc*/
@media (min-width: 1199.98px) {
    .modal-xl {
        max-width: 90%; 
    }
    .calendly-inline-widget {
        height: 500px !important; 
    }
}





/* FOOTER */

footer {
    background-color: var(--rojo);
}

.texto-footer {
    color: var(--piel) !important;
    font-weight: 600;
}