.bg-body-tertiary-admin {
    background-color: var(--gris) !important;
}

.nav-link-admin {
    color: var(--azul) !important;
}

header .logo-container-admin img {
    max-width: 1px !important;
}

