.bg-body-tertiary-admin {
    background-color: var(--negro) !important;
}

.nav-link-admin {
    color: var(--azul) !important;
}

header .logo-container img {
    max-width: 140px !important;
    margin-right: -40px !important;
}



