/* CSS DEL LOGIN */

.main-login {
    padding: 25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(51, 51, 51);
    background: linear-gradient(150deg, rgba(51, 51, 51, 1) 39%, rgba(71, 26, 33, 1) 65%);
}

.contenedor-imagen-login {

    padding-top: 1rem;
    display: flex;

}

.contenedor-login {
    width: 500px;
    height: 550px;
    background-color: var(--piel);
    border: 1px solid var(--gris);
    padding: 20px;
    border-radius: 10px;
}

.texto-login a {
    font-size: 20px;
    text-decoration: none;
}

.btn-login {
    border: 2px solid transparent;
    border-radius: 1rem ;
    background-color: var(--rojo) !important;
    color: white !important;
    border-color: var(--gris) !important;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5rem;
    cursor: pointer;
    width: auto;
    
}

.btn-login:hover {
    background-color: var(--amarillo) !important;
    color: var(--gris) !important;
    
}
   
.button-40:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }


.img-login {
    width: 10rem;
}
