/* Globales para los tags*/
section {
    background-color: var(--piel);
    padding-top: 10rem;
    text-align: center;
    color: var(--gris);
    padding-bottom: 10rem;
}

h1 {
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 2rem;
}

h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/* Estilos para la contenedores servicios */

.contenido-servicio {
    padding: 1rem 3rem 3rem 3rem;
}

.texto-servicio {
    padding: 3rem 0 3rem 0;
    margin-bottom: 3rem;
}

.contenedor-boton-servicios {
    display: flex;
    justify-content: center;
}

.contenedor-imagen {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-carta{
    background-color: var(--gris) !important;
}


.color-carta-chica{
    background-color: var(--gris) !important;
    border: 1.5px solid var(--rojo) !important;
}

.ajuste-foto-servicios {
    width: 430px;
    margin-top: -60px;
}

.martin-no-uses-style{
    background-color: var(--piel) !important;
    border-color: var(--negro) !important;
    color: var(--negro) !important; 
    border: 2px solid !important;
}